[submodule "puppet/modules/newrelic"]
	path = puppet/modules/newrelic
	url = git://github.com/joemiller/puppet-newrelic.git
[submodule "puppet/modules/python"]
	path = puppet/modules/python
	url = git://github.com/stankevich/puppet-python.git
[submodule "puppet/modules/supervisor"]
	path = puppet/modules/supervisor
	url = git://github.com/plathrop/puppet-module-supervisor.git
[submodule "puppet/modules/newrelic_python"]
	path = puppet/modules/newrelic_python
	url = git@github.com:jamescarr/puppet-newrelic-python.git
